@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "fontCustom";
  src: url("/font/fanlste.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #030303;
    --background: #E7E8E8
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.theFont{
  font-family: "fontCustom";
}

.container{
  max-width: 1152px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
